body {
  background: darkslategrey;
  color: whitesmoke;
  margin:auto;
  width: 600px;
}

.header{
  text-align: center;
}


.section {
  background: darkcyan;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #363636;
  margin-top: 20px;
  padding: 20px;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

button.action-button {
  background-color: bisque;
  border-radius: 5px;
  border: none;
  box-shadow: 4px 4px 5px #363636;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 600;
  height: 60px;
  margin-right: 20px;
  text-align: center;
  width: 100%;
}

button.action-button:hover {
  background-color: darkorange;
}

button.action-button:active {
  background-color: darkred;
}

button.action-button-undo {
  background-color: blueviolet;
}