body {
  background-color: darkslategray;
}

#container{
 margin: 100px;
}
#topSites{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-content: space-around; */
}
.top-site{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 10px;
  width: 150px;
  text-align: center;
  align-items: center;
  color: white;
  text-decoration: none;
  /* background-color: aliceblue; */
}

.top-site-link:hover{
  border-radius: 10px;
  background-color: darkblue;
}
.top-site img{
  width: 40px;
  height: 40px;
  text-align: center;
  display: block;
}

.top-site span{
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: initial;
  display: -webkit-box;
  width: 80%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}